html, body {
  height: 100%;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
    background-color: #000;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;color: white;
}

.btn-primary {
    color: #000;
    font-weight: bold;
    background-color: white;
}
.btn-primary:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: #181818;
}

.banner {
    padding-top: 150px;
	background-color: #101010;
}

.title {
	color: #fff;
	font-size: 27px;
    line-height: 32px;
}

.subtitle {
	color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

.form-control {
	background-color: #fff;
    border-radius: 10px;
    border: none;
    resize: none;
}
.form-post{
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    height: 48px;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #3b3b3b;
    color: #fff;
}

.comunicacao {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.form-text{
    color: white;
}

.errotext {
    color: rgb(215, 96, 96);
}

.communicationItem {
	color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

.banner2 {
    padding-top: 200px;
}

.logox {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40px;
}

.logox2 {
    width: 40px;
    color: black;
}

.card-body{
    border: none;
    border-radius: 5px;
}

.card{
    margin-top: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #3b3b3b;
}

.cardH:hover {
    background-color: rgba(27, 27, 27, 0.5);
    cursor: pointer;
}

.menu {
    background: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.menuItem, .menuItem:hover {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-right: 25px;

}
.menuIco {
    width: 31px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-10px;
    margin-left:-15px;
}

.navFeed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfil {
    border-radius: 10px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.perfilTopo {
    height: 95px;
    background-color: #242424
}

.perfilPainel {
    padding-right: 10px;
    padding-left: 10px;
}

.perfilPainelNome {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.perfilPainelItem  {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out;
}

.perfilPainelItemValor {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s;
    color: #000000 !important;
}

.tweetBox {
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    background-color: transparent;
    padding:10px;
}
.quemSeguir {
    color: #fff;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 20px;
}
.quemSeguirTitulo {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 25px;
    color: #fff;
    border-bottom: 1px solid #3b3b3b;
}
.quemSeguirTxt, .quemSeguirTxt:hover {
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.tweet {
    color: #fff;
    padding:15px;
    margin-bottom: 10px;
    border: 1px solid #3b3b3b;
    cursor: pointer;
    border-radius: 10px;
}
.tweet:hover {
    background-color: #0a0a0a;
}

.navMenu {
    display: flex;
    justify-content: space-between;
}

.btnFol {
    background-color: #1267ad;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}
.btnFol:hover {
    background-color: #298ee1;
    color: #fff;
    text-decoration: none;
}

.btnUnf {
    background-color: #000;
    border: 2px solid #3b3b3b;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}
.btnUnf:hover {
    background-color: #521111;
    color: #fff;
    text-decoration: none;
}
.user{
    font-size: 22px;
    color: #fff;
}